{% set is_default = (domain_names[0] == 'default') %}
{% set no_ip = (domain_names[0] == 'default' and domain_names|length == 1) %}

# Expires map
map $sent_http_content_type $expires {
  default                    off;
  text/html                  1h;
  text/css                   24h;
  application/javascript     24h;
  ~image/                    max;
  ~font/                     max;
}

server {
  client_max_body_size 20M;
  expires $expires;

  listen {{ site_port | default(80) }} {{ 'default_server' if is_default else ''}};
  listen [::]:{{ site_port | default(80) }} {{ 'default_server' if is_default else ''}};
  
  root {{ project_location }}{{'/public' if site_is_laravel else ''}};
  
  index index.html index.htm index.php;
  
  server_name {{ '_' if no_ip else domain_names|difference(['default'])|join(' ') }};

  location = /favicon.ico { log_not_found off; access_log off; }

  location = /robots.txt { log_not_found off; access_log off; allow all; }

  location / {
    try_files $uri $uri/ {{ '/index.php$is_args$args' if site_template_name == 'php' else '404' }};
  }
  {% if site_template_name == 'php' %}
  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/var/run/php7.0_{{ deployer_user.name }}.sock;
  }
  {% endif %}
}
