[{{ deployer_user.name }}]
user = {{ deployer_user.name }}
group = {{ deployer_user.group }}
listen = /var/run/php7.0_{{ deployer_user.name }}.sock
listen.owner = {{ deployer_user.group }}
listen.group = {{ deployer_user.group }}

pm.status_path = /{{ deployer_user.name }}_status
pm = dynamic
pm.max_children = {{ site_php_workers }}
pm.start_servers = {{ (0.4 * site_php_workers)|round(0, 'ceil')|int }}
pm.min_spare_servers = {{ (0.45 * site_php_workers)|round(0, 'ceil')|int }}
pm.max_spare_servers = {{ (0.8 * site_php_workers)|round(0, 'ceil')|int }}

chdir = /

php_admin_value[post_max_size] = 25M
php_admin_value[upload_max_filesize] = 20M
php_admin_value[disable_functions] = exec,passthru,shell_exec,system
php_admin_flag[allow_url_include] = off